/* wrapper */
.container-invoice {
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}

/* encabezado */
.container-newInvoice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.invoice-heading {
    padding-bottom: 10px;
}

.invoice-heading span {
    font-size: 1rem;
    font-weight: 600;
}

/* filter + new */
.filter-new {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-new select{
    min-width: 6.5rem;
}

/* new invoice btn */
.btn-newInvoice {
    margin-left: 2.5rem;
    background-color: rgb(124, 93, 250);
    color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 10rem;
    font-weight: 600;
    transition: all 0.3s ease;
    min-width: 5.875rem;
}

.btn-newInvoice:hover {
    background-color: rgb(146, 119, 255);
    cursor: pointer;
}

/* filter icon down */
.fa-chevron-down {
    color: rgb(124, 93, 250);
    margin-left: 10px;
    font-size: 0.8rem;
}

/* new invoice plus btn */
.fa-plus {
    background-color: #fff;
    color: rgb(124, 93, 250);
    padding: 5px 6px;
    border-radius: 50%;
    margin-right: 5px;
}

/* invoices */
.container-invoices {
    width: 60%;
    margin-top: 1.5rem;
}

/* single entry */
.invoice {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: min-content;
    align-items: center;
    background-color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    box-shadow: 5px 5px 10px rgba(124, 93, 250, 0.069);
}

.invoice:hover {
    border: solid 1px rgb(124, 93, 250);
    cursor: pointer;
}

/* date and name */
.invoice p {
    font-size: 0.85rem;
}

/* price */
.invoice h4 {
    text-align: right;
}

.paid-btn,
.pending-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 6px;
}

.paid-btn {
    background-color: rgba(51, 214, 159, 0.06);
    color: rgb(51, 214, 159);
}

.pending-btn {
    background-color: rgba(255, 143, 0, 0.06);
    color: rgb(255, 143, 0);
}

.fa-circle {
    font-size: 0.5rem;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .container-newInvoice {
        width: 70%;
    }

    .container-invoices {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .container-newInvoice {
        width: 80%;
    }

    .container-invoices {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .container-newInvoice {
        width: 90%;
    }

    .container-invoices {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container-newInvoice {
        width: 100%;
    }

    .container-invoices {
        width: 100%;
    }

    .container-invoice {
        padding: 7rem 2rem 2rem 2rem;
    }

    .invoice {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .invoice p:nth-of-type(1) {
        order: 4;
    }

    .invoice h4 {
        text-align: left;
    }

    .invoice p:nth-of-type(2) {
        text-align: right;
    }

    .paid-btn,
    .pending-btn {
        margin-left: 8rem;
        margin-top: 7px;
    }
}

@media only screen and (min-width: 482px) and (max-width: 767px) {
    .paid-btn,
    .pending-btn {
        margin-left: 14rem;
    }
}

@media only screen and (max-width: 481px) {
    .container-newInvoice .filter-new h5 {
        min-width: 4rem;
        margin-left: 5px;
    }

    .paid-btn,
    .pending-btn {
        margin-left: 3rem;
    }

    .invoice-heading-container h1 {
        font-size: 1.25rem;
    }
    .invoice-heading-container p {
        font-size: 0.75rem;
    }
}