.container-invoice-clicked {
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}

.invoice-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    margin: 1rem 0 2rem 0;
    box-shadow: 5px 5px 10px rgba(124, 93, 250, 0.089);
}

.invoice-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn,
.delete-btn {
    border-radius: 10rem;
    padding: 1rem 1.5rem;
    transition: all 0.4s ease;
    cursor: pointer;
}

.edit-btn {
    background-color: rgba(126, 136, 195, 0.068);
    color: rgb(126, 136, 195);
}

.delete-btn {
    background-color: rgb(236, 87, 87);
    color: #fff;
    margin-left: 10px;
}

.edit-btn:hover {
    background-color: rgba(126, 136, 195, 0.25);
}

.delete-btn:hover {
    background-color: rgba(236, 87, 87, 0.75);
}

.invoice-item {
    background-color: #fff;
    width: 60%;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin: 0 0 2rem 0;
    box-shadow: 5px 5px 10px rgba(124, 93, 250, 0.089);
}

.invoice-item-number {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.invoice-item-number-address {
    width: 20%;
}

.invoice-item-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 3rem;
}

.invoice-item-qty {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgb(249, 250, 254);
    border-radius: 8px;
}

.invoice-item-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 59, 83);
    padding: 2rem;
    border-radius: 0 0 8px 8px;
    margin-bottom: 1rem;
}

.invoice-item-total h4,
.invoice-item-total h2 {
    color: #fff;
}

.invoice-title {
    margin-top: 10px;
}

.payment-due,
.email {
    margin-top: 1rem;
}