/* aside bar */
aside {
    position: fixed;
    background-color: rgb(55, 59, 83);
    height: 100vh;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0 20px 20px 0;
    z-index: 11;
}

/* logo container */
.logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 0px 20px 20px 0px;
    background: rgb(124, 93, 250);
}

/* background logo */
.logo-container::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background: rgb(146, 119, 255);
    border-radius: 20px 0px;
}

/* logo image */
.logo-img {
    width: 40px;
    height: 37px;
    z-index: 2;
}

/* avatar image */
.avatar-img {
    border-radius: 50%;
    width: 2rem;
    margin: 1rem;
}

/* .fa-moon::before {
    content: ""
} */

/* icons */
.fa-receipt,
.fa-home {
    color: rgb(126, 136, 195);
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: solid 1px rgb(126, 136, 195);
}

@media only screen and (max-width: 768px) {
    aside {
        height: auto;
        flex-direction: row;
        width: 100vw;
        border-radius: 0 0 0 0;
    }

    .logo-invoice-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-receipt,
    .fa-home {
        border-bottom: none;
    }

    .fa-home {
        border-right: solid 1px rgb(126, 136, 195);
    }

    .fa-receipt {
        border-left: solid 1px rgb(126, 136, 195);
    }

    .logo-container {
        margin-right: 1rem;
    }
}